body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #f5f5f5;
}

.content {
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

header.title h1, 
header.title h2 {
    margin: 10px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.5;
}

header.title h1 {
    font-size: 35px;
    font-weight: bold;
}

header.title h2 {
    font-size: 15px;
    color: #006EB6;
}

main p {
    text-align: left;
    margin: 15px 0;
    line-height: 1.5;
}

ol.does-list {
    text-align: left;
    margin: 15px 0 0;
    padding-left: 30px;
    line-height: 1.5;
}

footer {
    margin-top:40px;
}

footer .logo {
    width: 150px;
    height: auto;
}

.gray-line {
    border: none;
    border-top: 1px solid lightgrey;
    padding-bottom: 20px;
  }

  li {
    margin-bottom: 20px;
  }