@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --gold-color: #EFC69B;
    --red-color: #AF1B3F;
    --dark-color: #473144;
    --body-font: Helvetica, Arial, sans-serif;
    --headline-font: Lora, Impact, serif;
}

body {
    font-family: var(--body-font);
    color: var(--dark-color);
}

/* Header */
h1, h2 {
    font-family: var(--headline-font);
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
}

h2 {
    color: var(--red-color);
}

footer {
    text-align: center;
}

.highlight {
    color: var(--red-color);
}

a {
    text-decoration: none;
}

/* Main Navigation */
.main-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 15px;           
    padding: 15px 0;          
    margin: 0 auto;         
    max-width: 100%;         
    border-top: 1px solid var(--red-color); 
    border-bottom: 1px solid var(--red-color);
}

/* Navigation Link */
.main-nav li a {
    color: var(--red-color);
    font-size: 1.1rem;  
    text-align: right;  
}

.main-nav li:last-child {
    margin-right: 50px;
}


/* Main container */
.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 20px; 
}

/* Article Container Grid (articles in the left column) */
.article-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


.article-container article {
    display: flex;
    gap: 30px;
    margin-top: 20px; 
}

/* Book Info Section (left side) */
.book-info {
    flex: 1;
    border-right: 1px solid var(--red-color); 
    padding: 20px;
    text-align: right;
    flex-direction: column;
}

/* Book Details Section */
.book-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start; 
    text-align: left; 
}

/* Book Image Container */
.book-image-container {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: 20px 0; 
}

/* Image Styling */
.book-image {
    max-width: 100%;
    height: auto; 
}

/* Book Title */
.book-title h2 {
    text-align: left;
}

/* Filter Section (right column) */
.filter-section {
    grid-column: 2; 
    margin-top: 20px;
    border: 1px solid var(--red-color); 
}

/* Hide Skip Link */
.skiptocontent a {
    position: absolute;
    top: -40px;             
    left: 0;               
    color: var(--red-color);       
    background-color: white;    
    padding: 10px;   
    border-radius: 5px;     
    font-weight: bold;   
    z-index: 10;    
}

.skiptocontent a:focus {
    top: 0;             
    background-color: var(--gold-color); 
    color: var(--dark-color);
}